.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wght" 400;
}


/* shared style  */
body{
    background-color: #F5F8FF;
}
.gray{
    color: rgba(107, 114, 128, 1);
}
.primary-color{
    color: #E95A08;
}
.center{
    text-align: center;
}


/* header style  */
header{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 135px;
    height: 82px;
}
nav ul{
    display: flex;
    gap: 48px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

/* banner section  */
.banner{
    display: flex;
    margin-top: 120px;
    align-items: end;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 13px;

}
.banner-description{
    max-width: 570px;
}

/* our plants section  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.our-plants{
    margin-top: 120px;
    margin-bottom: 120px;
}
.our-plants-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 13px;
    margin-top: 0;
}
.plants-boxes{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.plant-box{
    max-width: 270px;
}
.plant-title{
    font-size: 1.4rem;
    margin-bottom: 0;
}
.plant-rate{
    font-size: 1.4rem;;
    margin-top: 0;
    font-weight:bold;
    margin-bottom: 10px;
}
.cart-btn{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 20px 80px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
}

/* flower and plant lover */
.flower-lover{
    display: flex;
    position: relative;
}
.badge{
    height: 286px;
    width: 286px;
    position: absolute;
    margin-top: -120px;
    left: 360px;
}
.lover-photo{
    height: 600px;
    width: 540px;
}
.lover-text-box{
    margin-top: 40px;
    margin-left: 50px;
}
.lover-title{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.lover-description{
    font-size: 1.4rem;
    margin-bottom: 20px;
}

/* responsive for 576px  */
@media screen and (max-width: 576px) {
    .nav-link{
        display: none;
    }
    .nav-cart{
        display:block;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: start;
    }
    .banner img{
        width: 100%;
    }
    .banner-title{
        font-size: 1.8rem;
    }
    /* plants section  */
    .plants-boxes{
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .our-plants-title{
        font-size: 1.6rem;
    }
    .our-plants-description{
        font-size: 0.9rem;
    }
    .plant-box img{
        width: 100%;
    }
    .cart-btn{
        padding: 10px 40px;
        font-size: 0.9rem;
        width: 100%;
    }
}